:host {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background: radial-gradient(at 75% 75%, #f2f2f2 0%, #d9d9d9 100%);
}

.joystick {
  &__text-input {
    margin: 0 0 24px;
  }
}
